

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>
					
				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html">super Market</a></h1>
			</div>
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div> 
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html" class="act">Home</a></li>	
									<!-- Mega Menu -->
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Groceries<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>All Groceries</h6>
														<li><a href="groceries.html">Dals & Pulses</a></li>
														<li><a href="groceries.html">Almonds</a></li>
														<li><a href="groceries.html">Cashews</a></li>
														<li><a href="groceries.html">Dry Fruit</a></li>
														<li><a href="groceries.html"> Mukhwas </a></li>
														<li><a href="groceries.html">Rice & Rice Products</a></li>
													</ul>
												</div>	
												
											</div>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Household<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>All Household</h6>
														<li><a href="household.html">Cookware</a></li>
														<li><a href="household.html">Dust Pans</a></li>
														<li><a href="household.html">Scrubbers</a></li>
														<li><a href="household.html">Dust Cloth</a></li>
														<li><a href="household.html"> Mops </a></li>
														<li><a href="household.html">Kitchenware</a></li>
													</ul>
												</div>
												
												
											</div>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal Care<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>Baby Care</h6>
														<li><a href="personalcare.html">Baby Soap</a></li>
														<li><a href="personalcare.html">Baby Care Accessories</a></li>
														<li><a href="personalcare.html">Baby Oil & Shampoos</a></li>
														<li><a href="personalcare.html">Baby Creams & Lotion</a></li>
														<li><a href="personalcare.html"> Baby Powder</a></li>
														<li><a href="personalcare.html">Diapers & Wipes</a></li>
													</ul>
												</div>
												
											</div>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Packaged Foods<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>All Accessories</h6>
														<li><a href="packagedfoods.html">Baby Food</a></li>
														<li><a href="packagedfoods.html">Dessert Items</a></li>
														<li><a href="packagedfoods.html">Biscuits</a></li>
														<li><a href="packagedfoods.html">Breakfast Cereals</a></li>
														<li><a href="packagedfoods.html"> Canned Food </a></li>
														<li><a href="packagedfoods.html">Chocolates & Sweets</a></li>
													</ul>
												</div>
												
											
											</div>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>Tea & Coeffe</h6>
														<li><a href="beverages.html">Green Tea</a></li>
														<li><a href="beverages.html">Ground Coffee</a></li>
														<li><a href="beverages.html">Herbal Tea</a></li>
														<li><a href="beverages.html">Instant Coffee</a></li>
														<li><a href="beverages.html"> Tea </a></li>
														<li><a href="beverages.html">Tea Bags</a></li>
													</ul>
												</div>
							
											</div>
										</ul>
									</li>
									<li><a href="gourmet.html">Gourmet</a></li>
									<li><a href="offers.html">Offers</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
							</nav>
			</div>
		</div>
		
<!-- //navigation -->
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <a href="beverages.html"> <img class="first-slide" src="https://lh3.googleusercontent.com/IVFwhOLbNDJ4W7VDWTkLOW5ow3q5YHZVLmHg5hB6TlFcBfIOd1dOE-Up5GlArQ_Vkf910EMdQ2qPO3OMH-tauapQUkIjHeK5e_YjPnCzn-9VZyXw4L8Z5IS7raspi2JdqpN6rgVZoSTmxHTd8tgtA3c8WulLuREl2GBDBU7FFcGmm7_WdUkleA5x6uW43oefYqUegBVqUIDRw-p1GuqR2oYs34oO4_5zo7MamB1CT8vuU0NSzFbKT_AvyYZ-zSvAlv7F-mhSSKqhXLIVU22zsNR8MgBkiTkRKmg5HWPUdLG0ZTZSMLtKVY-9siciN-BPyWx-41PNXfcfIAvtyMMMVPlV1b_vL80AC69RzV952khNXDngILlSJocsDojSbvw8UjXdIzmVWbHJBwY5hSjDf2Qv7jt3H3-sO-DkPZFQ5EIVF1_f5bgnu_qNKovUSfbm4nvk2aXOkQBaG8gvQBw81EVkDRaaqk2a9prsZgO5Fvn2GJPD4SCNv4yeaDPr6wIFHf7q3uu88bTw0zfnWObMUzA2-PCg0j5aaupDkLTCZdlMGuBU3zED5_XZnY-UmsV2J5_Nxv4Q8Y_jAnsWbgODTNU3D6lS5lFnWTFAEP-wAlA26MLRBfmb64abTTdN-YF2KeBIRtnqvCdr5Qdrvqt0KG2UidgLlYc=w1280-h500-no" alt="First slide"></a>
       
        </div>
        <div class="item">
         <a href="personalcare.html"> <img class="second-slide " src="https://lh3.googleusercontent.com/dYxeceJ4dZBNM7WYKtqlV4frYMfm6al6Y_snJmxSOQdlCgtPYDaEU1N0AaLYhTGJhPF_kPdX0bMBwNhnsDiok1dhLn6EgHxLLbGmTyoFaNR58_SiT3dDV2gMMblMU5-mQndTE7t68WNtb9IphWf7LRL5bg8Vvi9bFT8xq5db2cAc8vDgWa_AVNT7CO4f6zPBC45081wT6NvWTQ38q634K0yoL1kJ6SxG0PDkvphWGcB0_vPD-ToYYX_PWPofxmpZNeWHeipvR8EmNQmXSnJm5T-vfzFZaUi8uDU8QECLgm9kvlMSzS0MKdUlWhD23fWFq7fVt8cG39nZNeFOUArZ-_DWkd51UUyx-529DQRR4pmsQYekQDfXALFyKsi_-csGFKmcUzLXAWPmMP_bw-vck1tc9HNkwnnNU0kTGrw9LXWjTe9gEMCGjW7vMO5xTQ0tuXKiWu4yQatUghbvIA6IggYQiWbFxlxatyAW0cr9SgaHKPhHXjAleY_vxC1pTok6aqOMb0tfZfawkqzYSMWPgDMgUZ5hivfKN2LEeR1ZRNZ1Nb7P4k8whQurezTGxTRdYvHxgyjNzh-PGtoqdZvWIQ-DnaZVcxZduQUK3aNHVFDK6bE86rzAcxqxmwdOYXrnSJdm7hA2yGMX73qOB0iJpIr5_qmduTg=w1280-h500-no" alt="Second slide"></a>
         
        </div>
        <div class="item">
          <a href="household.html"><img class="third-slide " src="https://lh3.googleusercontent.com/vlfoGrbBOT6uLQOuKObJ_gj7PWsmMh3wHGgg0TyGwwoBGrxBfXkQBqtSO2bAa_f1Z92CzZrJhKTtrvCmyQwKdNTifcfcy0YmNuVP38yGKa5lWdbk9qjfFzOUQHLl4GgrVYCnFdqBvLEipjzcoPMTGjiK8GQe2dKmEiHNhke01jhvhqqYHZqTZ7Nue7W854HzeHb_z1ZP407kRxMnLy1MrFjVljGEkNjY74k2UOUjR7h8G1irdQ2RauiSJKbVFSTR6dVMYvHv77Qc9buDGtaUwnNIaWiKwMa2fPn6uF8M0R-DxUxadq_dxhI_JBbYDRudVvxpb5JosxEE5XGnGIkHLoEfYHcrr-vgoPSEHfgZRi25x2N0c9IjbmKAt92HVmKAvgK8BQuCwCSvUyfkytbxDR_xfSASPA5Lad1b9QG66L9SODGwPVoT95AE-KQW3PZde-E_NZp_kfcNd3qVp3ggNeD5oueuSKIDxNLu1onk20Hif6X9ZHylUUzpVsDSHD5qKVDYeaANELDgNDOxnO7-UHgLaA8CANGGTwXZKr2ehYgUmBishp-TbnF7zMVc_eKm2-V1gdQK_MopXyFubnjD7JKiF3idlc0f-aD599kO53uTZ0AniMcDl7tz8NAPT1Dbsp8jJFMx3cXSSPkF2U6pnsLLFHcuA00=w1280-h500-no" alt="Third slide"></a>
          
        </div>
      </div>
    
    </div>  <!-- /.carousel -->
	<!-- main-slider -->
		<!--<ul id="demo1">
			<li>
				<img src="https://photos.google.com/album/AF1QipOGs_nlrIxISdnDrt3EWS5xbhhSxHhgRqJ0GVDw/photo/AF1QipNGZyELDu6-k13NqqiWS53gUF_YO1UHBvi6WcJS" alt="" />
				<div class="slide-desc">
					<h3>Buy Rice Products Are Now On Line With Us</h3>
				</div>
			</li>
			<li>
				<img src="https://lh3.googleusercontent.com/dYxeceJ4dZBNM7WYKtqlV4frYMfm6al6Y_snJmxSOQdlCgtPYDaEU1N0AaLYhTGJhPF_kPdX0bMBwNhnsDiok1dhLn6EgHxLLbGmTyoFaNR58_SiT3dDV2gMMblMU5-mQndTE7t68WNtb9IphWf7LRL5bg8Vvi9bFT8xq5db2cAc8vDgWa_AVNT7CO4f6zPBC45081wT6NvWTQ38q634K0yoL1kJ6SxG0PDkvphWGcB0_vPD-ToYYX_PWPofxmpZNeWHeipvR8EmNQmXSnJm5T-vfzFZaUi8uDU8QECLgm9kvlMSzS0MKdUlWhD23fWFq7fVt8cG39nZNeFOUArZ-_DWkd51UUyx-529DQRR4pmsQYekQDfXALFyKsi_-csGFKmcUzLXAWPmMP_bw-vck1tc9HNkwnnNU0kTGrw9LXWjTe9gEMCGjW7vMO5xTQ0tuXKiWu4yQatUghbvIA6IggYQiWbFxlxatyAW0cr9SgaHKPhHXjAleY_vxC1pTok6aqOMb0tfZfawkqzYSMWPgDMgUZ5hivfKN2LEeR1ZRNZ1Nb7P4k8whQurezTGxTRdYvHxgyjNzh-PGtoqdZvWIQ-DnaZVcxZduQUK3aNHVFDK6bE86rzAcxqxmwdOYXrnSJdm7hA2yGMX73qOB0iJpIr5_qmduTg=w1280-h500-no" alt="" />
				  <div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li>
			
			<li>
				<img src="https://lh3.googleusercontent.com/vlfoGrbBOT6uLQOuKObJ_gj7PWsmMh3wHGgg0TyGwwoBGrxBfXkQBqtSO2bAa_f1Z92CzZrJhKTtrvCmyQwKdNTifcfcy0YmNuVP38yGKa5lWdbk9qjfFzOUQHLl4GgrVYCnFdqBvLEipjzcoPMTGjiK8GQe2dKmEiHNhke01jhvhqqYHZqTZ7Nue7W854HzeHb_z1ZP407kRxMnLy1MrFjVljGEkNjY74k2UOUjR7h8G1irdQ2RauiSJKbVFSTR6dVMYvHv77Qc9buDGtaUwnNIaWiKwMa2fPn6uF8M0R-DxUxadq_dxhI_JBbYDRudVvxpb5JosxEE5XGnGIkHLoEfYHcrr-vgoPSEHfgZRi25x2N0c9IjbmKAt92HVmKAvgK8BQuCwCSvUyfkytbxDR_xfSASPA5Lad1b9QG66L9SODGwPVoT95AE-KQW3PZde-E_NZp_kfcNd3qVp3ggNeD5oueuSKIDxNLu1onk20Hif6X9ZHylUUzpVsDSHD5qKVDYeaANELDgNDOxnO7-UHgLaA8CANGGTwXZKr2ehYgUmBishp-TbnF7zMVc_eKm2-V1gdQK_MopXyFubnjD7JKiF3idlc0f-aD599kO53uTZ0AniMcDl7tz8NAPT1Dbsp8jJFMx3cXSSPkF2U6pnsLLFHcuA00=w1280-h500-no" alt="" />
				<div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li>
		</ul>-->
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
		<h2>Top selling offers</h2>
			<div class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Advertised offers</a></li>
						<li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Today Offers</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
							<div class="agile-tp">
								<h5>Advertised this week</h5>
								<p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
							</div>
							<div class="agile_top_brands_grids">
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="https://lh3.googleusercontent.com/GArYcqmQXLx9iMcxC-2lW4O7ANHp96cIUtuyVreSYrF3BTaS1PkR54FCpCtK05p6UVWkYyOrfgANh0xHBA3dHFT02cGjI8Tf7kols0Jaw0UZHKSHl_ERwsQsaELtUOa7JY3Lfmy3PUbZoi6AV5It1BR0yVJxOmS3zNGbF6XB4oiUqQEr1Yl3q1hyNJ67WuFmey5QqeQzeW6O6aieqEy_ZrYUyf7Mb-Npid0tX6mLnvbxoC55L7QI9kDUQhEznzck1-4ZNbzH-dyRuo5c-kfSiPOF9P0oqMBwMi-KRAAHCYmqs8uNIcBqXcQ8nAga0wb-i5rfnLJrudpFpwoCiu3Y-mNUJf-xRCZDkisQSsI9aPmXrFDG5LBJEMZG9fOCGPnyrnOaZfMDcIzKRFY4hs1z3tWol0jIXY5Zz77SKCQaZ1v2eqXXB4CDjQvVaipGpMJyH0es-_we-I7JyGP7dzZThIZTUMEiQ_1vpIp5lGPzDGgD0YqtaZD-4VKQG_HsN0IxQ06c9FkJwRn5AziZFG8i1F4nNzI1S1LRuM-1HeQg1ltEhjMzVnzKni45y6kLpsqFe5qr054GF4enjBCXxI0KOh8osdP-_QUksV0AkGSO8qaNIrV84bjzQL8wmKUV5GtW__qKQ00awWXlogxFRESKJUHP0nd42bg=s150-no" /></a>		
															<p>Tata-salt</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$20.99 <span>$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
																	<input type="hidden" name="amount" value="20.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="https://lh3.googleusercontent.com/kifIivaZv-pdS2YSfIXrjINAjaIzNPa3MveckFw8HmE19kT_C5x5lv88_gUOO6ov0khLZI4Jq-VB1LmGXB2KgYTzxmTouD-fbPn4MrboL6zYwbRo1kAlFbPhIorYZUwJ95twDmxEu3D1khByWR3bWpCMBSqb95UJoXM2SQcKf2tUqVrCzObk5PLQ5Xtf5sy8X3rHl0t0dXGS1x3S-DqUw-euEO_vW1oZ3vCwNrI8E61caYxM_CcR0SUQHp2MVFWQsYMMyUkpH-Zloo-VdkNnLJUZj2l0WBGIBwZ5qoxa02sIJa-t8ikfYTp6zQDN2rs0nZhiXgTvu8aOtVEIXvLjwVEgptk07H2WzEYgdJXjqDSbq6m_LkENcQYZOZjfHYX_JRYPyYmCXX3kPkBZyozrC13NfW5HnTR8l7_hTb7R8jYu8psvuIUlToJ2Zmi6Osdk24xJiQRWh0A6xCaCocVm8PWIhoJBgHg82Yr7M1SGCftiX4nIXDei4dHJDmAXtJWV2ciswQLTa18e8vwoEO9Ocq9Rdv2zHDcuBihQ7_NSBm02CuR2XlzNSuypOvqSmJRS4E1ruDfXQHSwE2Nmei83YU51L4RfUSigRCVtoge7nPKivQl1Yez5WZI5HFpEr_8HElKilycnbk6CjHaD8vstkYDr3y1EH6Q=s150-no" /></a>		
															<p>Fortune-sunflower</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$20.99 <span>$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="basmati rise" />
																	<input type="hidden" name="amount" value="20.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block">
														<div class="snipcart-thumb">
															<a href="products.html"><img src="https://lh3.googleusercontent.com/v_zGzZQQ5v1qsbmzxxXyaKNqQrmpx_aW1yaEUbk4CwyST7w1jNH33e9978bNQACixOHhHH3sEQ0lgocHgM8FMs-UY3e-ndJT0KXtXqLHNeWNBDnRrhXGwotINgX_98b1cCN86QF7-GaC-rssEVvK3uL3SdxHUK2X0AKafuDSC4jpcZAmdUZNrOMsHYx-AVUcJd-64CBKnJrm7yvC1jtmuyOsmlSsBhJUvLwWwnW-emSiMRNcGK9_gAFO8Ipiht7Hzu8u39i1-s6Lc9LpHHyo9LTXT9ISGTV_8YSeI2O-IUoJ2U1yIy38pIhVMQX1kBRfMaI41XANRo8jDHMiwEHc8-_vPkVIl4UpcexQwqcNgKQkJzFP4RBd02O1PuS8UN2zeyakcZMLjJXd5FNc5xMQWx5qdtrrUsO1CzGjHplMtVJ_dcZXRHpx2PINvwBfkD2QoUg-fm3j6OaGk0Z_NsUzRQSRfdQaQEN5jq-b7z3Rps63EO6eX-vRajVahUbzQje7QX7IHImULTXo7-I9sP099tUD_d0YL6jKFYXfWt-C02RimFQu-SYR7yaH-GN1f8QsR8HqblnUmaRK3E8XH78o0AosQWbi5OcQljBhsAGw6IlXxS3XJYrC4PCjRpvXRZ3A8FhXjQM2dfCNDlKPm19ykscE8big034=s150-no" alt=" " class="img-responsive" /></a>
															<p>Aashirvaad-atta</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$40.99 <span>$65.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Pepsi soft drink" />
																	<input type="hidden" name="amount" value="40.00" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="agile_top_brands_grids">
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="images/4.png" /></a>		
															<p>Sampann-toor-dal</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$35.99 <span>$55.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
																	<input type="hidden" name="amount" value="35.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="images/5.png" /></a>		
															<p>Parryss-sugar</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$30.99 <span>$45.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="basmati rise" />
																	<input type="hidden" name="amount" value="30.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block">
														<div class="snipcart-thumb">
															<a href="products.html"><img src="images/6.png" alt=" " class="img-responsive" /></a>
															<p>Saffola-gold</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$80.99 <span>$105.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Pepsi soft drink" />
																	<input type="hidden" name="amount" value="80.00" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
							<div class="agile-tp">
								<h5>This week</h5>
								<p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
							</div>
							<div class="agile_top_brands_grids">
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="images/7.png" /></a>		
															<p>Sona-masoori-rice</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$35.99 <span>$55.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
																	<input type="hidden" name="amount" value="35.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="images/8.png" /></a>		
															<p>Milky-mist-paneer</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$30.99 <span>$45.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="basmati rise" />
																	<input type="hidden" name="amount" value="30.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block">
														<div class="snipcart-thumb">
															<a href="products.html"><img src="images/9.png" alt=" " class="img-responsive" /></a>
															<p>Basmati-Rice</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$80.99 <span>$105.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Pepsi soft drink" />
																	<input type="hidden" name="amount" value="80.00" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="agile_top_brands_grids">
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="images/10.png" /></a>		
															<p>Fortune-sunflower</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$20.99 <span>$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
																	<input type="hidden" name="amount" value="20.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href="products.html"><img title=" " alt=" " src="images/12.png" /></a>		
															<p>Nestle-a-slim</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$20.99 <span>$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="basmati rise" />
																	<input type="hidden" name="amount" value="20.99" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block">
														<div class="snipcart-thumb">
															<a href="products.html"><img src="images/13.png" alt=" " class="img-responsive" /></a>
															<p>Bread-sandwich</p>
															<div class="stars">
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star blue-star" aria-hidden="true"></i>
																<i class="fa fa-star gray-star" aria-hidden="true"></i>
															</div>
															<h4>$40.99 <span>$65.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart" />
																	<input type="hidden" name="add" value="1" />
																	<input type="hidden" name="business" value=" " />
																	<input type="hidden" name="item_name" value="Pepsi soft drink" />
																	<input type="hidden" name="amount" value="40.00" />
																	<input type="hidden" name="discount_amount" value="1.00" />
																	<input type="hidden" name="currency_code" value="USD" />
																	<input type="hidden" name="return" value=" " />
																	<input type="hidden" name="cancel_return" value=" " />
																	<input type="submit" name="submit" value="Add to cart" class="button" />
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //top-brands -->
 <!-- Carousel
    ================================================== -->
   <!--   <div id="myCarousel" class="carousel slide" data-ride="carousel">
     
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <a href="beverages.html"> <img class="first-slide" src="https://lh3.googleusercontent.com/IVFwhOLbNDJ4W7VDWTkLOW5ow3q5YHZVLmHg5hB6TlFcBfIOd1dOE-Up5GlArQ_Vkf910EMdQ2qPO3OMH-tauapQUkIjHeK5e_YjPnCzn-9VZyXw4L8Z5IS7raspi2JdqpN6rgVZoSTmxHTd8tgtA3c8WulLuREl2GBDBU7FFcGmm7_WdUkleA5x6uW43oefYqUegBVqUIDRw-p1GuqR2oYs34oO4_5zo7MamB1CT8vuU0NSzFbKT_AvyYZ-zSvAlv7F-mhSSKqhXLIVU22zsNR8MgBkiTkRKmg5HWPUdLG0ZTZSMLtKVY-9siciN-BPyWx-41PNXfcfIAvtyMMMVPlV1b_vL80AC69RzV952khNXDngILlSJocsDojSbvw8UjXdIzmVWbHJBwY5hSjDf2Qv7jt3H3-sO-DkPZFQ5EIVF1_f5bgnu_qNKovUSfbm4nvk2aXOkQBaG8gvQBw81EVkDRaaqk2a9prsZgO5Fvn2GJPD4SCNv4yeaDPr6wIFHf7q3uu88bTw0zfnWObMUzA2-PCg0j5aaupDkLTCZdlMGuBU3zED5_XZnY-UmsV2J5_Nxv4Q8Y_jAnsWbgODTNU3D6lS5lFnWTFAEP-wAlA26MLRBfmb64abTTdN-YF2KeBIRtnqvCdr5Qdrvqt0KG2UidgLlYc=w1280-h500-no" alt="First slide"></a>
       
        </div>
        <div class="item">
         <a href="personalcare.html"> <img class="second-slide " src="https://lh3.googleusercontent.com/dYxeceJ4dZBNM7WYKtqlV4frYMfm6al6Y_snJmxSOQdlCgtPYDaEU1N0AaLYhTGJhPF_kPdX0bMBwNhnsDiok1dhLn6EgHxLLbGmTyoFaNR58_SiT3dDV2gMMblMU5-mQndTE7t68WNtb9IphWf7LRL5bg8Vvi9bFT8xq5db2cAc8vDgWa_AVNT7CO4f6zPBC45081wT6NvWTQ38q634K0yoL1kJ6SxG0PDkvphWGcB0_vPD-ToYYX_PWPofxmpZNeWHeipvR8EmNQmXSnJm5T-vfzFZaUi8uDU8QECLgm9kvlMSzS0MKdUlWhD23fWFq7fVt8cG39nZNeFOUArZ-_DWkd51UUyx-529DQRR4pmsQYekQDfXALFyKsi_-csGFKmcUzLXAWPmMP_bw-vck1tc9HNkwnnNU0kTGrw9LXWjTe9gEMCGjW7vMO5xTQ0tuXKiWu4yQatUghbvIA6IggYQiWbFxlxatyAW0cr9SgaHKPhHXjAleY_vxC1pTok6aqOMb0tfZfawkqzYSMWPgDMgUZ5hivfKN2LEeR1ZRNZ1Nb7P4k8whQurezTGxTRdYvHxgyjNzh-PGtoqdZvWIQ-DnaZVcxZduQUK3aNHVFDK6bE86rzAcxqxmwdOYXrnSJdm7hA2yGMX73qOB0iJpIr5_qmduTg=w1280-h500-no" alt="Second slide"></a>
         
        </div>
        <div class="item">
          <a href="household.html"><img class="third-slide " src="https://lh3.googleusercontent.com/vlfoGrbBOT6uLQOuKObJ_gj7PWsmMh3wHGgg0TyGwwoBGrxBfXkQBqtSO2bAa_f1Z92CzZrJhKTtrvCmyQwKdNTifcfcy0YmNuVP38yGKa5lWdbk9qjfFzOUQHLl4GgrVYCnFdqBvLEipjzcoPMTGjiK8GQe2dKmEiHNhke01jhvhqqYHZqTZ7Nue7W854HzeHb_z1ZP407kRxMnLy1MrFjVljGEkNjY74k2UOUjR7h8G1irdQ2RauiSJKbVFSTR6dVMYvHv77Qc9buDGtaUwnNIaWiKwMa2fPn6uF8M0R-DxUxadq_dxhI_JBbYDRudVvxpb5JosxEE5XGnGIkHLoEfYHcrr-vgoPSEHfgZRi25x2N0c9IjbmKAt92HVmKAvgK8BQuCwCSvUyfkytbxDR_xfSASPA5Lad1b9QG66L9SODGwPVoT95AE-KQW3PZde-E_NZp_kfcNd3qVp3ggNeD5oueuSKIDxNLu1onk20Hif6X9ZHylUUzpVsDSHD5qKVDYeaANELDgNDOxnO7-UHgLaA8CANGGTwXZKr2ehYgUmBishp-TbnF7zMVc_eKm2-V1gdQK_MopXyFubnjD7JKiF3idlc0f-aD599kO53uTZ0AniMcDl7tz8NAPT1Dbsp8jJFMx3cXSSPkF2U6pnsLLFHcuA00=w1280-h500-no" alt="Third slide"></a>
          
        </div>
      </div>
    
    </div>    -->  <!-- /.carousel -->	
<!--banner-bottom-->
				<div class="ban-bottom-w3l">
					<div class="container">
					<div class="col-md-6 ban-bottom3">
							<div class="ban-top">
								<img src="images/p2.jpg" class="img-responsive" alt=""/>
								
							</div>
							<div class="ban-img">
								<div class=" ban-bottom1">
									<div class="ban-top">
										<img src="images/p3.jpg" class="img-responsive" alt=""/>
										
									</div>
								</div>
								<div class="ban-bottom2">
									<div class="ban-top">
										<img src="images/p4.jpg" class="img-responsive" alt=""/>
										
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 ban-bottom">
							<div class="ban-top">
								<img src="images/111.jpg" class="img-responsive" alt=""/>
								
								
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
<!--banner-bottom-->
<!--brands-->
	<div class="brands">
		<div class="container">
		<h3>Brand Store</h3>
			<div class="brands-agile">
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="brands-agile-1">
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="brands-agile-2">
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">Lorem</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
<!--//brands-->
<!-- new -->
	<div class="newproducts-w3agile">
		<div class="container">
			<h3>New offers</h3>
				<div class="agile_top_brands_grids">
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="products.html"><img title=" " alt=" " src="images/14.png"></a>		
												<p>Fried-gram</p>
												<div class="stars">
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star gray-star" aria-hidden="true"></i>
												</div>
													<h4>$35.99 <span>$55.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Add to cart" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="products.html"><img title=" " alt=" " src="images/15.png"></a>		
												<p>Navaratan-dal</p>
												<div class="stars">
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star gray-star" aria-hidden="true"></i>
												</div>
													<h4>$30.99 <span>$45.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
															<input type="hidden" name="add" value="1">
															<input type="hidden" name="business" value=" ">
															<input type="hidden" name="item_name" value="basmati rise">
															<input type="hidden" name="amount" value="30.99">
															<input type="hidden" name="discount_amount" value="1.00">
															<input type="hidden" name="currency_code" value="USD">
															<input type="hidden" name="return" value=" ">
															<input type="hidden" name="cancel_return" value=" ">
															<input type="submit" name="submit" value="Add to cart" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid_pos">
									<img src="images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="products.html"><img src="images/16.png" alt=" " class="img-responsive"></a>
												<p>White-peasmatar</p>
												<div class="stars">
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star gray-star" aria-hidden="true"></i>
												</div>
													<h4>$80.99 <span>$105.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Pepsi soft drink">
														<input type="hidden" name="amount" value="80.00">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Add to cart" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid_pos">
									<img src="images/offer.png" alt=" " class="img-responsive">
								</div>
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="products.html"><img title=" " alt=" " src="images/17.png"></a>		
												<p>Channa-dal</p>
												<div class="stars">
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star blue-star" aria-hidden="true"></i>
													<i class="fa fa-star gray-star" aria-hidden="true"></i>
												</div>
													<h4>$35.99 <span>$55.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="#" method="post">
													<fieldset>
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="business" value=" ">
														<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
														<input type="hidden" name="amount" value="35.99">
														<input type="hidden" name="discount_amount" value="1.00">
														<input type="hidden" name="currency_code" value="USD">
														<input type="hidden" name="return" value=" ">
														<input type="hidden" name="cancel_return" value=" ">
														<input type="submit" name="submit" value="Add to cart" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
		</div>
	</div>
<!-- //new -->

</body>
</html>